<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/minecraftia" type="text/css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static',filename='Styles/homepagestyles.css') }}">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static',filename='Styles/clashdatastyles.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='Images/DMGDevLogo.png') }}">
    <title>Ladder Data</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // For match percentage pie chart
        var data = google.visualization.arrayToDataTable([
          ['King Level', 'Match Percentage'],
          {% for i in range(13, -1, -1) %}
            ['{{ i + 1 }}', {{ match_numbers[i] }}],
          {% endfor %}
        ]);

        var options = {
          width: 1300,
          height: 700,
          title: 'Match Percentage',
		  titleTextStyle: {
			color: "#e8b923",
			fontName: "ClashRoyale",
			fontSize: 24
		  },
		  legendTextStyle: {
			color: "#4287f5",
			fontName: "ClashRoyale",
			fontSize: 20,
			bold: true
		  },
		  pieSliceTextStyle: {
			fontSize: 20,
		  },
		  backgroundColor: '#222222'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

        // For win percentage bar chart
        var data = google.visualization.arrayToDataTable([
          ['King Level', 'Win Percentage', { role: 'style' }, {role: "annotation"}],
          {% for i in range(14) %}
            {% if win_rates[i] != "N/A" %}
              ["{{ i + 1 }}", {{ win_rates[i] }}, "{{ colors[(win_rates[i]) | int ] }}", {{ win_rates[i] }}],
            {% endif %}
          {% endfor %}
        ]);

        var options = {
		  width: 1300,
          height: 700,
		  titleTextStyle: {
			color: "#e8b923",
			fontName: "ClashRoyale",
			fontSize: 24
		  },
		  hAxis: {
            textStyle:{
			  color: "#4287f5",
			  fontName: "ClashRoyale",
			  fontSize: 20,
			  bold: true
			}
		  },
		  vAxis: {
            textStyle:{
			  color: "#e8b923",
			  fontName: "ClashRoyale",
			  fontSize: 18,
			  bold: true
			},
			viewWindow: {
              min: 0,
              max: 100
            },
            ticks: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
		  },
		  annotations: {
			textStyle: {
			  fontSize: 50,
			  color: "#e8b923",
			  bold: true
			}
		  },
          title: 'Win Percentage',
          legend: { position: 'none' },
		  backgroundColor: '#222222'
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('column_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body style = "background-color: #222222">
    <center>
      <div id="maintitle">
        <h1>Ladder Data</h1>
      </div>
      <div id="clashroyaletitle" style = "right: 0%">
        <h2 style = "display: inline;">Player Name: </h2> <h2 style = "color: #4287f5; display: inline;">{{ name }}</h2>
        <br><br>
        <h2 style = "display: inline;">Player Tag: </h2> <h2 style = "color: #4287f5; display: inline;">#{{ tag }}</h2>
        <br><br>
        <h2 style = "display: inline;">Average Ladder Win %: </h2> <h2 style = "color: #4287f5; display: inline;">{{ average_win_rate }}</h2>
        <br><br>
        <h2 style = "display: inline;">Average Card Level Difference: </h2> <h2 style = "color: #4287f5; display: inline;">{{ average_level_difference }}</h2>
        <div id="piechart" style="margin-left: 210px;"></div>
        <div id="column_chart" style="margin-left: 180px;"></div>
        <table>
          <tr>
            <th>Opponent King<br>Tower Level</th>
            <th>Win %</th>
            <th>Match %</th>
          </tr>
          {% for i in range(14) %}
            {% if win_rates[i] != "N/A" %}
              <tr>
                <td><div class = "container"><img src="{{ url_for('static',filename='Images/ExpLevel.png') }}" alt="Exp Logo" width="100" height="100"><div class = "centered">{{ i + 1 }}</div></div></td>
                <td style = "color: #4287F5; font-family: ClashRoyale;">{{ win_rates[i] }}</td>
                <td style = "color: #4287F5; font-family: ClashRoyale;">{{ match_percentages[i] }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </center>
  </body>
</html>