<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!-- Personal CSS -->
        <link rel = "stylesheet" href = "../static/Styles/class_scheduler_page_styles.css">

        <!-- Tab title and image -->
        <title>Optimal Class Scheduler</title>

        <!-- Link Tag to Avoid favicon.ico Error -->
        <link rel="shortcut icon" href="#">

        <!-- DOMPurify JS -->
        <script type="text/javascript" src="../static/Scripts/dist/purify.min.js"></script>

        <!-- Personal JS -->
        <script type="text/javascript" src="../static/Scripts/class_scheduler_page_script.js"></script>

        <!-- Website Icon -->
        <link rel = "icon" href = "../static/Images/DMGDevLogo.png">

    </head>

    <body onload = "initialLoadData()">

        <!-- Body -->
        <div class = "container-fluid text-center">

            <!-- Navbar Row -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom justify-content-center">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id = "mainNavbar">
                <div class="navbar-nav nav-custom nav-fill w-100">
                  <button type = "button" class = "nav-item btn btn-dark col-sm-4" data-toggle = "modal" data-target = "#saveDataModal">Save Data</button>
                  <button type = "button" class = "nav-item btn btn-dark main-button col-sm-4" onclick = "sendData()">Generate Schedule</button>
                  <button type = "button" class = "nav-item btn btn-dark" data-toggle = "modal" data-target = "#loadSavedDataModal" onclick = "populateSaveNames()">Load Saved Data</button>
                </div>
              </div>
            </nav>

            <!-- Save Data Modal -->
            <div class="modal fade" id="saveDataModal" tabindex="-1" role="dialog" aria-labelledby="saveDataModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="saveDataModalLabel">Save Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form onsubmit = "return false">
                                <div class = "form-group row">
                                    <input title = "Enter save name" placeholder = "Save name" type = "text" class = "form-control" id = "saveNameInput">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick = "saveData()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Load Saved Data Modal -->
            <div class="modal fade" id="loadSavedDataModal" tabindex="-1" role="dialog" aria-labelledby="loadSavedDataModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loadSavedDataModalLabel">Load Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form onsubmit = "return false">
                                <div class="form-group">
                                    <label for="loadSaveNameInput">Select save</label>
                                    <select class="form-control" id="loadSaveNameInput">

                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick = "removeSave()">Remove</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick = "loadSavedData()">Load</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scheduler Name Row -->
            <div class = "row">
                <h2>Optimal Class Scheduler</h2>
            </div>

            <!-- Scheduler Description Row -->
            <div class = "row">
                <h3>A simple tool that lets you plan the best schedule by keeping class timings back to back</h3>
            </div>

            <br>

            <!-- Scheduler Preferences Input Row -->
            <div class = "row">

                <form onsubmit = "return false">
                    <div class = "form-group row justify-content-center">
                        <label for = "preferredMaxTimeBetweenClassesInput" class = "col-md-8 col-form-label">Preferred Maximum Time Between Classes</label>
                        <input title = "Enter positive hours" type = "number" class = "w-50 col-md-4 form-control" placeholder = 0 id = "preferredMaxTimeBetweenClassesInput" min = "0" aria-describedby = "timeBeenClassesHelpInline">
                    </div>

                    <div class = "form-group row justify-content-center">
                        <label for = "preferredMaxClassesPerDayInput" class = "col-md-8 col-form-label">Preferred Maximum Classes Per Day</label>
                        <input type = "number" class = "w-50 col-md-4 form-control" placeholder = 0 id = "preferredMaxClassesPerDayInput" min="0">
                    </div>
                </form>

            </div>

            <!-- Scheduler Classes Title Row -->
            <div class = "row">
                <h3 class = "classesheader">Classes</h3>
            </div>

            <!-- Scheduler Time Info Row -->
            <div class="row">
                <h6 class = "classesheader">Times must be entered in 24 hour format</h6>
            </div>

            <!-- Scheduler Classes Input Row -->
            <div class = "row">

                <form id = "classes-input" onsubmit = "return false">

                </form>

            </div>

            <!-- Scheduler Class Modifiers and Generate Schedule Buttons Row -->
            <div class = "row">
                <form onsubmit = "return false">
                    <input type = "submit" id = "addClassButton" value = "Add Class" onclick = "addClass()">
                    <input type = "submit" id = "removeClassButton" value = "Remove Class" onclick = "removeClass()">
                    <input type = "submit" id = "saveDataButton" value = "Save Data" data-toggle = "modal" data-target = "#saveDataModal">
                    <input type = "submit" id = "loadSavedDataButton" value = "Load Saved Data" data-toggle = "modal" data-target = "#loadSavedDataModal" onclick = "populateSaveNames()">
                    <input type = "submit" id = "generateScheduleButton" value = "Generate Schedule" onclick = "sendData()">
                </form>
            </div>

            <!-- Scheduler Output Row -->
            <div class = "row">
                <span id = "output"></span>
            </div>

        </div>

        <!-- JQuery, Popper, Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha384-ogycHROOTGA//2Q8YUfjz1Sr7xMOJTUmY2ucsPVuXAg4CtpgQJQzGZsX768KqetU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>