<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/minecraftia" type="text/css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static',filename='Styles/homepagestyles.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='Images/DMGDevLogo.png') }}">
  </head>
  <body style = "background-color: #222222">
    <center>
      <div id = "maintitle">
        <h1>Error</h1>
      </div>
      <div id = "clashroyaletext">
        <h2>An error occurred while retrieving data. The player may have not done any ladder battles recently.
            Also check to see if the player tag was entered correctly.  If that doesn't work, open an issue on the
            <a href = "https://github.com/FarrukhAnwar1/DMGDev-Website/issues" target="_blank">Source Code GitHub issue page</a>
            to see if the server admin can fix the issue.</h2>
      </div>
    </center>
  </body>
</html>
