<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/minecraftia" type="text/css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static',filename='Styles/homepagestyles.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='Images/DMGDevLogo.png') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='Scripts/homepagescript.js') }}"></script>
    <title>DMGDev</title>
  </head>
  <body style = "background-color: #222222">
    <center>
      <img src="{{ url_for('static',filename='Images/DMGDevLogo.png') }}" alt="DMGDev Logo" width="300" height="300">
      <div id="maintitle">
        <h1>DMGDev</h1>
        <h2 style = "font-size: 20px"><a href = "https://github.com/DMG1Plays/DMGDev-API-Endpoints" target="_blank">Source Code</a></h2>
      </div>
      <div id="clashroyaletitle">
        <h2>Clash Royale</h2>
      </div>
      <div id="clashroyaletext">
        <h3 style="font-size: 30px">Ladder Battles Endpoint:</h3>
        <form onsubmit = "return false">
			    <span style = "color: white">Enter Player Tag (no #):</span>
			    <br><br>
			    <input type = "text" name = "player_tag_input"  id = "player_tag_input" class = "tag_input"> <input type = "reset" value = "Clear" class = "clear_button">
			    <br><br>
          <span style = "color: white">Response Type:</span>
          <select id = "response_type" name = "response_type">
            <option value="html">HTML</option>
            <option value="json">JSON</option>
          </select>
          <br><br>
			    <input type = "submit" value = "Try it Out" onclick="search_player_data()" width="100" class = "try_it_out_button">
		    </form>
      </div>
      <div id = "mctitle">
        <h2>Minecraft</h2>
      </div>
      <div id = "mctext">
        <a href = "https://mcserverstats.pythonanywhere.com/" target = "_blank"><h3 style="font-size: 30px">Server Stats Website</h3></a>
      </div>
    </center>
  </body>
</html>