<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Personal CSS -->
    <link rel = "stylesheet" href = "../static/Styles/server_status_bot_page_styles.css">

    <!-- Personal JS -->
    <script type="text/javascript" src="../static/Scripts/server_status_bot_page_script.js"></script>

    <!-- Tab title and image -->
    <title>Server Status Bot</title>
    <link rel = "shortcut icon" href = "../static/Images/bot_icon.png" type = "image/x-icon">

  </head>
  <body>

    <!-- Body -->
    <div class = "container-fluid text-center">

      <!-- Bot Icon Row -->
      <div class = "row">
        <img id = "bot_icon" src = "../static/Images/bot_icon.png" alt = "Server Status Bot Icon">
      </div>

      <!-- Bot Name Row -->
      <div class = "row">
        <h1>Server Status Discord Bot</h1>
      </div>

      <!-- Bot Description Row -->
      <div class = "row">
        <h3>A simple bot that tells your Minecraft server's online status</h3>
      </div>

      <!-- Bot Link Row -->
      <div class = "row">
        <form class = "box" onsubmit="open_bot_link(); return false;">
          <a href = "https://discord.com/api/oauth2/authorize?client_id=665668311840981029&permissions=8&scope=bot">
            <input type="submit" name="bot_link" value="Add to Server">
          </a>
        </form>
      </div>

      <!-- Commands Heading Row -->
      <div class = "row">
        <h2>Commands</h2>
      </div>

      <!-- Commands Table Row -->
      <div class = "row">
        <table class = "table table-bordered">
          <tbody>
            <tr>
              <td>
                <h4>/info</h4>
              </td>
              <td>
                <h4>Returns information about the bot</h4>
              </td>
            </tr>

            <tr>
              <td>
                <h4>/setup <i>[ip]</i></h4>
              </td>
              <td>
                <h4>Sets the server IP that the /getstatus command uses <i>(requires administrator permissions)</i></h4>
              </td>
            </tr>

            <tr>
              <td>
                <h4>/getip</h4>
              </td>
              <td>
                <h4>Returns server IP specified in the /setup command</h4>
              </td>
            </tr>

            <tr>
              <td>
                 <h4>/getstatus</h4>
              </td>
              <td>
                <h4>Returns status of server IP specified in the /setup command</h4>
              </td>
            </tr>

            <tr>
              <td>
                <h4>/getserverstatus <i>[ip]</i></h4>
              </td>
              <td>
                <h4>Returns the status of the specified server</h4>
              </td>
            </tr>

            <tr>
              <td>
                <h4>/getinfo</h4>
              </td>
              <td>
                <h4>Returns detailed information about server IP specified in the /setup command</h4>
              </td>
            </tr>

            <tr>
              <td>
                <h4>/getserverinfo <i>[ip]</i></h4>
              </td>
              <td>
                <h4>Returns detailed information about the specified server</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
    <script src = "https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity = "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin = "anonymous"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity = "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin = "anonymous"></script>

  </body>
</html>